// NOT USED
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import '~global/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~global/themes';

@import 'components/light-dark-switch';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: 'Lato';
}
