// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lato');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~global/themes';

@import '~components/light-dark-switch';

body {
  font-family: 'Lato';
}
