/* LIGHT THEME COLORS */
$l-background-color: #fafafa;
$l-text-color: #111;
$l-focused-background-color: #ddd;

/* DARK THEME COLORS */
$d-text-color: #eee;
$d-background-color: #222;
$d-focused-background-color: #444;

body {
  color: $l-text-color;
  background-color: $l-background-color;

  transition: color 0.5s, background-color 1s;

  div.t-container {
    background-color: $l-focused-background-color;
    transition: background-color 1s;
  }
  .t-navbar {
    background-color: darken($l-background-color, 10%);
    transition: background-color 1s, color 1s;
  }
  .t-footer {
    background-color: darken($l-background-color, 10%);
    color: $l-text-color;
    transition: background-color 1s, color 1s;
  }
  .t-dropdown-menu {
    color: $l-text-color;
    background-color: darken($l-background-color, 10%);
  }
  .t-dropdown-menu .dropdown-item {
    color: $l-text-color;
  }
  .t-dropdown-menu .dropdown-item:hover:hover,
  .t-dropdown-menu .dropdown-item:hover:focus {
    color: darken($l-text-color, 15%);
    background-color: darken($l-background-color, 15%);
  }
  .t-dropdown-menu .dropdown-divider {
    border-color: darken($l-background-color, 30%);
  }
  .t-img {
    transition: filter 1s;
  }
}

body.t-dark {
  color: $d-text-color;
  background-color: $d-background-color;

  div.t-container {
    background-color: $d-focused-background-color;
  }
  .t-navbar {
    background-color: lighten($d-background-color, 10%);
  }
  .t-footer {
    background-color: lighten($d-background-color, 10%);
    color: $d-text-color;
  }
  .t-dropdown-menu {
    background-color: lighten($d-background-color, 10%);
    border-color: lighten($d-background-color, 20%);
  }
  .t-dropdown-menu .dropdown-item {
    color: $d-text-color;
  }
  .t-dropdown-menu .dropdown-item:hover:hover,
  .t-dropdown-menu .dropdown-item:hover:focus {
    color: lighten($d-text-color, 15%);
    background-color: lighten($d-background-color, 15%);
  }
  .t-dropdown-menu .dropdown-divider {
    border-color: lighten($d-background-color, 20%);
  }
  .t-img {
    filter: brightness(60%);
  }
}
